# Whitelist: exclude everything and only add what's needed

# Exclude everything
*

# Workspace manifests
!Cargo.toml
!Cargo.lock

# Sqlx migrations
!.sqlx/
!migrations/

# Workspace members
!api
!api-error-derive
!coin-extractor
!update-agent
