# Whitelist: exclude everything and only add what's needed

# Exclude everything
*

# Cargo related
!Cargo.toml
!Cargo.lock
.cargo/*
!.cargo/config.toml

# Sqlx related
!.sqlx/
!migrations/

# Sources
!api
!api-error-derive
!coin-extractor
!update-agent

# Exclude tests
**/tests
**/proptest-regressions
